<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vassar.unifiedapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".application.UnifiedAppApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme,android:hardwareAccelerated,android:allowBackup">
        <activity
            android:name=".ui.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.NetworkChangeReceiver" />
        <receiver android:name=".receiver.GPSChangeReceiver" />
        <receiver android:name=".receiver.SyncCompleteBroadcastReceiver" />
        <receiver android:name=".synchronization.SyncReceiver" />
        <receiver android:name=".receiver.MediaRequestReceiver" />
        <receiver android:name=".synchronization.TextDataSyncReceiver" />

        <activity
            android:name=".ui.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.ProjectListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.ProjectFormActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.ProjectSeparatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DropLocationActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.vassar.unifiedapp.haims.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.ImagePreviewActivity"
            android:windowSoftInputMode="stateHidden" />

        <service android:name=".synchronization.SyncIntentService" />

        <activity
            android:name=".newcamera.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newcamera.CameraResultImage"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camera.VideoCaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".ui.ForgotPasswordScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".camera.LollipopVideoCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.VideoPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MapActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.MapDownloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camera2.NewCamera2Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.DynamicFormActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.TabularFormActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.ProjectGroupingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.NavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FilterScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
    </application>

</manifest>