<div class="row">
  <div>
    <ol *ngIf="app"  class="breadcrumb">
      <li (click)="navigate()" class="breadcrumb-item" [class.active]="!location_herierchy || location_herierchy.size <=0" >{{app.app_name}}</li>
      <ng-container *ngFor="let element of app.attribute_heirarchy;let  i = index">
        <i class="material-icons" *ngIf="location_herierchy[element]">keyboard_arrow_right</i>
        <li  *ngIf="location_herierchy[element]"  class="breadcrumb-item" (click)="navigateTo(element)"[class.active]="location_herierchy && (!location_herierchy[app.attribute_heirarchy[i+1]] || location_herierchy[app.attribute_heirarchy[i+1]]=='')">
          {{location_herierchy[element]}}</li>
      </ng-container>
    </ol>
  </div>
        <div class="col-sm-12 col-lg-12 mt-3 mb-3">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th rowspan="3">S.No.</th>
              <th rowspan="3">{{attributeName | replace:'_':' ' | titleCase}}</th>
              <th colspan="6" class="text-center">No of Project Submissions</th>
            </tr>
            <tr>
              <th colspan="2" class="text-center">Last 1 Day</th>
              <th colspan="2" class="text-center">Last 7 Days</th>
              <th colspan="2" class="text-center">Last 30 Days</th>
            </tr>
            <tr>
              <th>Successful Submissions</th>
              <th>Failed Submissions</th>
              <th>Successful Submissions</th>
              <th>Failed Submissions</th>
              <th>Successful Submissions</th>
              <th>Failed Submissions</th>
            </tr>
          </thead>
          <tbody *ngIf="(submissionCount && submissionCount.length > 0) && fetched">
            <tr *ngFor="let row of submissionCount;let i=index;">
              <td>{{i+1}}</td>
              <td (click)="fetchDataForEnity(row['entity'], row)" class="clickable_cell">{{row['entity']}}</td>
              <td>{{row['last_day']['successful_project_submission_count']}}</td><td>{{row['last_day']['failed_project_submission_count']}}</td>
              <td>{{row['last_weak']['successful_project_submission_count']}}</td><td>{{row['last_weak']['failed_project_submission_count']}}</td>
              <td>{{row['last_month']['successful_project_submission_count']}}</td><td>{{row['last_month']['failed_project_submission_count']}}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!(submissionCount && submissionCount.length > 0) && fetched" text-align: center>No data available!</div>
        <div *ngIf="!(submissionCount && submissionCount.length > 0) && !fetched"> <mat-spinner></mat-spinner>data Loading</div>
      </div>
      </div>